.default-theme {
  --white: #ffffff;
  --white2: #eeeeee;
  --white3: #dddddd;
  --gray: #999999;
  --gray2: #777777;
  --black: #000000;
  --black2: #333333;
  --teal0: #e0f6f4;
  --teal1: #bbdcd9;
  --teal1_tp: rgba(234, 253, 251, 0.8);
  --teal2: #038970;
  --teal3: #005849;
  --shadow1: 2px 2px 2px rgba(0, 0, 0, 0.4);
  --shadow2: 1px 1px 4px var(--gray);
  --controlborder: 1px solid #aaa;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: BioRhyme, fontello, sans-serif;
  color: var(--black);
}
body,
html {
  height: 100%;
  line-height: normal;
  overflow: auto;
}
body {
  /* background: linear-gradient(90deg, rgba(0,121,145,1) 0%, rgba(120,255,214,1) 100%); */
}
.blurred_full_bg {
  width: 100%;
  height: 100%;
  filter: blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.unselectable {
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.img_overlay_container {
  position: relative;
}
.img_overlay_container:after {
  content: "\00a0";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  max-width: 1024px;
  height: 100%;
}
.container > section {
  background: var(--teal1);
  background: var(--teal1_tp);
  padding: 10px;
  margin: 5px;
  width: 98%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: var(--shadow1);
  -moz-box-shadow: var(--shadow1);
  -webkit-box-shadow: var(--shadow1);
}
.container > section:nth-child(2) {
  background: none;
  padding: 0px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.container > section:nth-child(2) > div:nth-child(1) {
  box-shadow: var(--shadow1);
  -moz-box-shadow: var(--shadow1);
  -webkit-box-shadow: var(--shadow1);
}
.title {
  font-weight: bolder;
  font-size: 34px;
  text-align: center;
}
.description {
  font-size: 16px;
  text-align: center;
}
.container > section:nth-child(2) {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.left_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  background-color: var(--teal0);
  background-color: var(--teal1_tp);
  margin: 0 5px 0 0;
  border-radius: 5px;
}
.right_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  margin: 0 0 0 5px;
  height: 100%;
  width: 100%;
}
.right_part > * {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 5px 0;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: var(--teal0);
  background-color: var(--teal1_tp);
  box-shadow: var(--shadow1);
  -moz-box-shadow: var(--shadow1);
  -webkit-box-shadow: var(--shadow1);
}
.right_part > *:first-child {
  margin-top: 0;
}
.right_part > *:last-child {
  margin-bottom: 0;
}
.radio_btn_grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.radio_btn_grp input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
.radio_btn_grp label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.radio_btn_grp label:hover {
  cursor: pointer;
}
.radio_btn_grp input:checked + label {
  color: var(--white2);
  background-color: var(--teal2);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.radio_btn_grp label:first-of-type {
  border-radius: 10px 0 0 10px;
}
.radio_btn_grp label:last-of-type {
  border-radius: 0 10px 10px 0;
}
label.switch .track {
  width: 40px;
  height: calc(40px / 1.6666);
  background: rgba(0, 0, 0, 0.07);
  border-radius: calc(40px / 1.6666);
  border-radius: calc(calc(40px / 1.6666) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: inset 0px 0px 4px -2px rgba(0, 0, 0, 0.129);
  box-shadow: inset 0px 0px 4px -2px rgba(0, 0, 0, 0.129);
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}
label.switch .thumb {
  display: inline-block;
  background: #fff;
  width: calc(40px * 0.55 - 4px);
  height: calc(40px * 0.55 - 4px);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
label.switch .labeltxt {
  margin: 0px 10px;
}
label.switch input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
label.switch input[type="checkbox"]:checked + .track {
  background: var(--teal2);
}
label.switch input[type="checkbox"]:checked + .track .thumb {
  -webkit-transform: translateX(calc(40px / 2));
  -ms-transform: translateX(calc(40px / 2));
  transform: translateX(calc(40px / 2));
}
label.switch input[type="checkbox"]:focus + .track {
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.09);
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.09);
}

.check_btn_grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.slider_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 18px;
  border: var(--controlborder);
  border-radius: 30px;
  margin: 0 10px 0 0;
  background: linear-gradient(to right, var(--teal2) 0%, var(--teal2) 40%, #fff 40%, white 100%);
  outline: 0;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.slider:active::-webkit-slider-thumb {
  background: var(--teal3);
}
.slider:active::-moz-range-thumb {
  background: var(--teal3);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--teal3);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--teal3);
  cursor: pointer;
}
.slider_txt_input {
  border: var(--controlborder);
  outline-color: var(--teal2);
  border-radius: 4px;
  width: 60px;
  height: 34px;
  text-align: center;
}
.inp_color_preview,
.out_color_preview {
  width: 100%;
  background-color: var(--white);
  -webkit-box-shadow: 1px 1px 4px var(--gray);
  box-shadow: 1px 1px 4px var(--gray);
}
.inp_color_preview {
  height: 50px;
  border-radius: 5px;
}
.out_color_preview {
  height: 100px;
  border-radius: 6px;
}
.color_confs > * {
  margin: 8px 0;
}
.color_confs > *:first-child {
  margin-top: 0px;
}
.color_confs > *:last-child {
  margin-bottom: 0px;
}
.txt_outs > * {
  margin: 8px 0;
}
.txt_outs > *:first-child {
  margin-top: 0px;
}
.txt_outs > *:last-child {
  margin-bottom: 0px;
}
.color_picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  min-width: 225px;
  min-height: 315px;
  width: 100%;
  height: 95%;
  margin: 10px;
}
.shadow {
  border: 1px solid var(--white2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.color_picker_wheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0 2px 0;
  margin: 8px 0;
}
.color_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.75;
  -ms-flex: 0.75;
  flex: 0.75;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-top: 1px solid var(--white3);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 8px 0 0 0;
}
.color_inputs > * {
  margin: 8px 0;
}
.color_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
}
.color_input label {
  font-size: 13px;
  color: var(--gray2);
  margin: 0 5px;
}
.color_input input {
  border-radius: 4px;
  padding: 0.1em 0.2em;
  width: 100%;
  height: 2em;
  font-size: 14px;
  text-align: center;
  border: 1px solid #bbb;
  outline-color: var(--teal2);
  margin-right: 5px;
  color: var(--black);
}
.color_input input:not(.tri_color_input) {
  letter-spacing: 1px;
}
.color_input_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
.txtinput {
  background: var(--white);
  border: var(--controlborder);
  color: var(--black2);
  border-radius: 5px;
  outline: 0;
  padding: 10px;
  width: 100%;
}
.input_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background: var(--white);
  border: var(--controlborder);
  border-radius: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.input_group > * {
  border: none !important;
  outline: 0 !important;
  padding: 10px;
  height: 40px;
}
.input_group > i,
.input_group > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--white2);
  color: var(--teal3);
  border-right: var(--controlborder) !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 58px;
  text-align: center;
}
.input_group > span.tooltip {
  min-width: auto;
  border-radius: 0 5px 5px 0;
  border-right: none !important;
  background: var(--white);
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip > img,
.tooltip > div > img {
  margin-right: -4px;
  margin-top: 4px;
}
.tooltip.bottom:before {
  bottom: -7px;
  border-bottom-color: #212121;
}
.tooltip.showtip:before,
.tooltip.showtip:after,
.tooltip:focus:before,
.tooltip:focus:after {
  opacity: 1;
  clip: auto;
  -webkit-clip-path: inset(0%);
  clip-path: inset(0%);
}
.tooltip.bottom:before,
.tooltip.bottom:after {
  top: 75%;
}
.tooltip:before {
  content: "";
  background: transparent;
  border: 0.5rem solid transparent;
  left: calc(50% - 0.5rem);
}
.tooltip.bottom:after {
  margin-top: calc(2 * 0.5rem);
}
.tooltip.showtip:before,
.tooltip.showtip:after,
.tooltip:focus:before,
.tooltip:focus:after {
  display: block;
  opacity: 1;
  clip: auto;
  -webkit-clip-path: inset(0%);
  clip-path: inset(0%);
}
.tooltip.bottom:before,
.tooltip.bottom:after {
  top: 75%;
}
.tooltip:after {
  content: attr(aria-label);
  color: #fafafa;
  background: #212121;
  border-radius: 0.125rem;
  padding: 0.5rem;
  white-space: nowrap;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 6px;
}
.tooltip:before,
.tooltip:after {
  position: absolute;
  opacity: 0;
  display: none;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1010;
  left: 50%;
  font-size: 14px;
}
.tooltip:not(.bottom):before {
  border-top-color: #212121;
  top: -7px;
}
.tooltip:not(.bottom):before,
.tooltip:not(.bottom):after {
  bottom: 75%;
}
.tooltip:not(.bottom):after {
  margin-bottom: calc(2 * 0.5rem);
}
.tooltip:not(.bottom):before,
.tooltip:not(.bottom):after {
  bottom: 75%;
}
@media (max-width: 425px) {
  .radio_btn_grp label {
    padding: 8px 8px;
    font-size: 14px;
  }
  label.switch .labeltxt {
    font-size: 14px;
    margin: 0px 5px;
  }
}
@media (max-width: 768px) {
  .container > section:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .title {
    font-size: 26px;
  }
  .left_part {
    width: 100%;
    margin: 0 0 5px 0;
  }
  .right_part {
    margin: 5px 0 0 0;
  }
  .input_group > * {
    font-size: 14px;
    height: 36px;
  }
}
